* {
	background-color: #191414;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font: 12px Helvetica, Arial;
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#messages li {
	padding: 5px 10px;
}

#mainHeader {
	background-color: #191414;
}

#connection-status {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	padding: 0;
	margin: 20px;
	display: block;
	text-align: left;
}

#connection-status.connected {
	background-color: #1DB954;
}

#connection-status.disconnected {
	background-color: red;
}