* {
	box-sizing: border-box;
}

html {
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}

html, input {
	font-family: "Roboto", sans-serif;
}

ul {
	list-style: none;
	word-wrap: break-word;
}



.login.page {
	background-color: #000;
	color: #fff;
	margin: 20px 20px 20px 20px;
	padding: 20px 20px 20px 20px;
	position: absolute;
	text-align: center;
	width: 50%;
	border-radius: 20px;
	display: block;
}

.login.page .form .usernameInput {
	font-size: 14px;
	color: #FFF;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #fff;
	outline: none;
	padding-bottom: 15px;
	text-align: center;
	width: 400px;
}

.chatArea {
	height: 100%;
	padding-bottom: 60px;
}

.messages {
	height: 100%;
	margin: 0;
	overflow-y: scroll;
	padding: 10px 20px 10px 20px;
}

.messageInput {
	font-size: 100%;
	border: 10px solid #000;
	bottom: 0;
	height: 60px;
	left: 0;
	outline: none;
	padding-left: 10px;
	position: absolute;
	right: 0;
	width: 100%;
}

.userName {
	font-weight: bolder;
	color: #1DB954;
}


#connection-status {
	border-radius: 50%;
	padding: 0;
	margin: 20px;
	display: inline;
}

#topHeader.disconnected {
	background-color: crimson;
}

#topHeader.connected {
	background-color: #1DB954;
}

#connection-status.connected {
	background-color: #1DB954;
}

#connection-status.disconnected {
	background-color: red;
}